
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif; 
}
body{
    max-width: 1440px;
    margin:0 auto;
}
section{
    width: 100%;
    border: 1px solid red;
}
/* nav start */

nav{
    width: 100%;
    border: 0;
    padding: 10px;
    background:#1A0B2E ;
}
.container{
    border: 0;
    max-width:1140px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  


}
.logo h1{
    color:#FFFFFF ;
    font-size: 40px;
    font-weight: 800;

}
.text{
    color: rgb(173, 7, 173);
}
.container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px ;
}
.container ul li{
    list-style: none;
}
.container  ul li a{
   text-decoration: none;
    color:#FFFFFF ;
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
}
  .btm{
    padding: 10px 20px;
    color: #FFFFFF;
    border: 0;
    border-radius:50px; 
    outline: 0;
    transition: 3s;
    cursor: pointer;
    font-size:16px ;
    font-weight: 600;
    background-image:linear-gradient(to left,  purple,deeppink,yellow); 
}

.btm:hover{
   transform: translate(-60px);
}
.menu{
    font-size: 20px;
    color: #FFFFFF;
     display: none; 
}

/* banner start */

.banner{
    width: 100%;
    /* height: 100vh; */
    background-image: url(./B13-A02-TechWave-main/B13-A02-TechWave-main/assets/hero-bg.png);
    
}

   

.banner-img{
    position: relative;
}
.imags{
    position: absolute;
    top: 16%;
    left:38% ;
}
.btn{
    border: 0;
    padding: 6px 9px;
    background:#00FF88 ;
    border-radius:50px ;
    position: absolute;
    top: 11%;
    right:18% ;
}
.banner .container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}
.banner-content{
    margin-top:40px ;
}
.banner-content h1{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
}
.banner-content p{
    font-size: 16px;
    color:#FFFFFF ;
    padding-top: 10px;
    opacity: 80%;
}
.bnt{
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 50px;
    background:transparent ;
    color:#00FF88 ;
    font-weight: 600;
}
.banner-btn{
    margin-top: 20px;
    margin-bottom:50px ;
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.mty{
     padding: 10px 20px;
    color: #FFFFFF;
    border: 0;
    border-radius:50px; 
    outline: 0;
    transition: 3s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
    font-size:16px ;
    font-weight: 600;
    background-image:linear-gradient(to left,  purple,deeppink,yellow); 
}


/* main start */


main{
    width: 100%;
    border: 0;
    background: #1A0B2E;
}
.podcast{
    max-width: 1140px;
    margin: 0 auto;
    border: 0;
    padding: 10px;

}
.podcast-content{
    text-align: center;
    margin-top: 16px;
}
.podcast-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.podcast-content p{
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 15px;
    line-height: 30px;
    opacity: 80%;
}
.podcast-box{
    padding-top: 80px;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    gap: 5px;
}
.box1{
    /* width: 300px; */
    /* height:150px ; */
    border: 0;
    text-align: center;
    padding-top:30px ;
    padding: 5px;
    
}
.box1 h1{
    font-size:48px ;
    font-style: Black;
    color: #00FF88;
}
/* wave start */

.wave{
    width: 100%;
    border: 0;
    background: #230E3D;
}
.global{
    max-width: 1140px;
    margin: 0 auto;
    border: 0;
    padding: 20px;
}

.global h2{
    font-size:48px ;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: #FFFFFF;
    padding-bottom: 50px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
}
.item{
      background-color: #311553;
    
    grid-row: span 2;
    border-radius: 20px;
     padding: 20px;
}
.item1{
      background-color: #311553;
    
    grid-column: span 2;
    border-radius: 20px;
    padding: 20px;
}
.item2{
       background-color: #311553;
   
    grid-column: span 2;
    border-radius: 20px;
    padding: 20px;
}
.item3{
    background-color: #311553;
   
    border-radius: 20px;
    padding: 20px;
    
}


.item h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
} 
 .item p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 30px;
   
    
} 




 .item1 h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
} 
 .item1 p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 30px;
   
    
} 

.item2 h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
} 
 .item2 p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 30px;
   
    
} 
.item3 h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
} 
 .item3 p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 30px;
   
    
} 



 
.layout-img{
    width: 60px;
    height: 80px;
}


    

/* episode start */

.episode{
    width: 100%;
    background: #1A0B2E;
    border: 0; 

}
.episode-card{
    max-width: 1140px;
    padding: 20px;
   margin-top:80px ;
   border: 0;
   margin: 0 auto;
}
.episode-card h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    
}
.iframe{
    margin-top:30px ;
   border: 0;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-content: center;
    gap: 20px;
}
.card-iframe{
    width: 300px;
    border: 0;
    height:490px ;
    border-radius: 16px;
   background: #230E3D ;
    padding: 10px;
}
.card-iframe h3{
    font-size:20px ;
    font-weight: bold;
    color: #FFFFFF;
    padding-top:20px ;
}
.card-iframe p{
    font-size:16px ;
    color: #FFFFFF;
    opacity:60% ;
    line-height: 24px;
    padding-top: 15px;
}
.min{
    display: flex;
    justify-content: left;
    align-content: center;
    margin-top: 10px;
    gap: 8px;
    font-weight: 600;
}
.min-img{
    width:20px ;
    height:20px ;
    margin-top:15px;
}
/* article host */

article{
    width: 100%;
    border: 0;
    background: #1A0B2E;
}
.host{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
    border: 0;
   
}
.host h2{
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.host-box{
    border:0 ;
    margin-top: 30px;
    padding: 2px;
    background:#3f2364 ;
    padding: 20px;
    display: flex;
    gap: 30px;
    border-radius:40px ;

}
.icon-img{
    width:30px ;
    height:30px;
    border: 1px solid gray;
    padding: 5px;
    border-radius:100% ;
    background: #230E3D;
    margin-top: 20px;
   
}
/* footer start */
.foot{
    width: 100%;
    background: #1A0B2E;
    border:0;
    padding-top:80px ;
     background-image: url(./B13-A02-TechWave-main/B13-A02-TechWave-main/assets/footer-bg.png);
     width: 100%;
     /* height: 50vh; */
     background-position: center;
     background-size: cover;
    background-repeat: no-repeat;
    
    

}
.footer{
     border: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 40px;
   
    
    
    
    

}

.foot-card{
    border: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 8px;
    color: #FFFFFF;
    opacity: 60%;
}
.foot-card P{
    font-size: 16px;
    font-weight: 600;

}
.foot-icon{
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top: 20px;
}





@media screen and (max-width:576px) {
    
    button{
        display: none;
    }
    .container ul li{
        flex-direction: column;
        display:none ;
    }
    .menu{
        display: block;
    }
    .banner .container{
        flex-direction: column;
        padding-top: 50px;
        text-align: center;
    }
    .banner-content{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .banner-content h1{
        font-size: 50px;
    }
    .banner-img  img{
        flex-direction: column;
       
    }
    .banner-btn{
        flex-direction: column;
       
        
    }
    
    .bnt{
        flex-direction: column;
        display: block;
    }
    .btn{
        flex-direction: column;
        display: block;
         position: absolute;
        top: 10%;
        right:20% ;
    }
    
    .imags{
         position: absolute;
        top: 10%;
        left:38% ;
    }
     .mty {
        display: block;
        flex-direction: column;
     } 
        
    .podcast-box{
      grid-template-columns: repeat(2, 1fr);
    }
    .podcast{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: 1fr;
       
      
    }
    .item{
        grid-row: span 1;
    }
    
    
    .global h3{
        font-size:15px ;
        flex-direction: column;
    }
    
    .item1{
        
        grid-column: span 1;
       
    }
    .item2{
          
        grid-column: span 1;
        
    }
    .item3{
        
        grid-column: span 1;
        
    }
    
    .iframe{
        flex-direction: column;
    }
    .host-box{
        flex-direction: column;
    }
    .foot{
        flex-direction: column;
    }
    
    
}

