
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif; 
}
body{
    max-width: 1440px;
    margin:0 auto;
}
section{
    width: 100%;
    border: 1px solid red;
}
/* nav start */

nav{
    width: 100%;
    border: 0;
    padding: 10px;
    background:#1A0B2E ;
}
.container{
    border: 0;
    max-width:1140px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  


}
.logo h1{
    color:#FFFFFF ;
    font-size: 38px;
    font-weight: 800;

}
.text{
    color: rgb(173, 7, 173);
}
.container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px ;
}
.container ul li{
    list-style: none;
}
.container  ul li a{
   text-decoration: none;
    color:#FFFFFF ;
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
}
  .btm{
    padding: 10px 20px;
    color: #FFFFFF;
    border: 0;
    border-radius:50px; 
    outline: 0;
    transition: 3s;
    cursor: pointer;
    font-size:16px ;
    font-weight: 600;
    background-image:linear-gradient(to left,  purple,deeppink,yellow); 
}

.btm:hover{
   transform: scale(-2px);
}
.menu{
    font-size: 20px;
    color: #FFFFFF;
     display: none; 
}

/* banner start */

.banner{
    width: 100%;
    /* height: 100vh; */
    background-image: url(./B13-A02-TechWave-main/B13-A02-TechWave-main/assets/hero-bg.png);
    
}

   

.banner-img{
    position: relative;
}
.imags{
    position: absolute;
    top: 16%;
    left:38% ;
}
.btn{
    border: 0;
    padding: 6px 9px;
    background:#00FF88 ;
    border-radius:50px ;
    position: absolute;
    top: 11%;
    right:18% ;
}
.banner .container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}
.banner-content{
    margin-top:40px ;
}
.banner-content h1{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
}
.banner-content p{
    font-size: 16px;
    color:#FFFFFF ;
    padding-top: 10px;
    opacity: 80%;
}
.bnt{
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 50px;
    background:transparent ;
    color:#00FF88 ;
    font-weight: 600;
}
.banner-btn{
    margin-top: 20px;
    margin-bottom:50px ;
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.mty{
     padding: 10px 20px;
    color: #FFFFFF;
    border: 0;
    border-radius:50px; 
    outline: 0;
    transition: 3s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
    font-size:16px ;
    font-weight: 600;
    background-image:linear-gradient(to left,  purple,deeppink,yellow); 
}


/* main start */


main{
    width: 100%;
    border: 0;
    background: #1A0B2E;
}
.podcast{
    max-width: 1140px;
    margin: 0 auto;
    border: 0;
    padding: 10px;

}
.podcast-content{
    text-align: center;
    margin-top: 16px;
}
.podcast-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.podcast-content p{
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 15px;
    line-height: 30px;
    opacity: 80%;
}
.podcast-box{
    padding-top: 80px;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    gap: 5px;
}
.box1{
    /* width: 300px; */
    /* height:150px ; */
    border: 0;
    text-align: center;
    padding-top:30px ;
    padding: 5px;
    
}
.box1 h1{
    font-size:48px ;
    font-style: Black;
    color: #00FF88;
}
/* wave start */

.wave{
    width: 100%;
    border: 0;
    background: #230E3D;
}
.global{
    max-width: 1140px;
    margin: 0 auto;
    border: 0;
    padding: 20px;
}

.global h2{
    font-size:48px ;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    color: #FFFFFF;
    padding-bottom: 50px;
}
.global .container{
    margin-top: 50px;
    padding:0 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
   
    gap: 20px;
}
.item{
    background: #351165;
    border: 0;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom:200px ;
    width:390px ;
    /* height:490px ;
    */

}
.item p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 30px;
    
    
}
.item h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
}
#sidebar{
    grid-row: span 2;
}

.item2{
    background: #351165;
    border: 0;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
    width:580px;


}
.item2 h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
}
.item2 p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 30px;
   
    
}

.item3{
    background: #351165;
    border: 0;
    grid-column: span 2;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
    width:580px;
    margin-top: 80px;


}
.item3 h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
}
.item3 p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 20px;
   
    
}



 .item4{
    background: #351165;
    border: 0;
    grid-column: span 2;
    border-radius: 20px;
    padding: 20px;
    padding-top: 30px;
    width:620px;
    margin-top: 80px;


}
.layout-img{
    width: 60px;
    height: 80px;
}

.item4 h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:20px ;
    color: #FFFFFF;
}
.item4 p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 20px; 
   
    
}
.item5{
    background: #351165;
    border: 0;
    width: 300px;
    
    border-radius: 20px;
    padding: 20px;
    margin-top:70px ;
    margin-left:-360px ;
     /* height:305px ;  */
     
   
   

}
.item5 h3{
    font-size:24px ;
    font-weight: bold;
    padding-top:30px ;
    color: #FFFFFF;
}
.item5 p{
    font-size: 16px;
    opacity: 60%;
    color: #FFFFFF;
    padding-top: 20px; 
   
    
}
.item5 img{
    margin-top: 20px;
}










@media screen and (max-width:576px) {
    
    button{
        display: none;
    }
    .container ul li{
        flex-direction: column;
        display:none ;
    }
    .menu{
        display: block;
    }
    .banner .container{
        flex-direction: column;
        padding-top: 50px;
        text-align: center;
    }
    .banner-content{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    .banner-content h1{
        font-size: 50px;
    }
    .banner-img  img{
        flex-direction: column;
       
    }
    .banner-btn{
        flex-direction: column;
       
        
    }
    
    .bnt{
        flex-direction: column;
        display: block;
    }
    .btn{
        flex-direction: column;
        display: block;
         position: absolute;
        top: 10%;
        right:20% ;
    }
    
    .imags{
         position: absolute;
        top: 10%;
        left:38% ;
    }
     .mty {
        display: block;
        flex-direction: column;
     } 
        
    .podcast-box{
      grid-template-columns: repeat(2, 1fr);
    }
    .podcast{
        flex-direction: column;
    }
    .global .container{
        grid-template-columns: 1fr;
        margin-top:20px ;
       justify-items: left;
      
    }
    .item5{
        margin-left:0 ;
        grid-template-columns: 1fr;
    }
    #sidebar{
        grid-row: span 1;
         width:400px ; 
         margin-top:140px ;
         padding-bottom: 20px;
       
    }
    
    .global h3{
        font-size:15px ;
        flex-direction: column;
    }
    
    .item2{
         width:480px ; 
        grid-column: span 1;
        margin-top: 400px;
    }
    .item3{
          width:480px ; 
        grid-column: span 1;
        margin-top:280px ;
    }
    .item4{
         width:480px ; 
        grid-column: span 1;
        
    }
    .item5{
         width:350px ; 
    }
    
}

